$primary-color: '#009988';
.default{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
rect{
    transition: all 0.3s ease-in;
}
.center-label{
    text-anchor:middle;
}
.horizontal-bar-label{
    text-anchor:end;
    font-size: 11px;
}