.tooltip{
    position: fixed;
    z-index: 99;
    display: inline-block;
    color: #333;
    background-color: #ffffff;
    box-shadow: 0 0 4px #aaa;
    padding: 10px;
    cursor: pointer;
}
.tooltip.hidden{
    display: none;
}
